!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Pending</title>
    <link rel="icon" type="image/x-icon" href="{% static 'accounts/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Inscription envoyée</h2>
        <p>Votre compte est en attente de validation par l’administration. Vous serez notifié une fois activé.</p>

    </div>
</body>
</html>